#datatable_filter input{
    width: 70% !important;
}

.slideimg{
    width: 100% !important;
    height: auto !important;
}
.logo{
    
        width: 140px;
        height: auto;
        float: left;
        margin-bottom: -50px;
        position: relative;
        border: 4px solid darkgreen;
        
}
.logo img{
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6,small{
    color: darkred;
}

.carousel-caption{
    background-color: black;
    opacity: 0.7;
}